#gopng_好友头条@2x_outer {
height: 80rpx;
width: 80rpx;
overflow: hidden;
}
#gopng_好友头条@2x {
background: url() -0rpx -0rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_找诊所替代图@2x_outer {
height: 80rpx;
width: 80rpx;
overflow: hidden;
}
#gopng_找诊所替代图@2x {
background: url() -80rpx -0rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_河狸会员@2x_outer {
height: 80rpx;
width: 80rpx;
overflow: hidden;
}
#gopng_河狸会员@2x {
background: url() -160rpx -0rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_找服务替代图@2x_outer {
height: 80rpx;
width: 80rpx;
overflow: hidden;
}
#gopng_找服务替代图@2x {
background: url() -240rpx -0rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_找医生替代图@2x_outer {
height: 80rpx;
width: 80rpx;
overflow: hidden;
}
#gopng_找医生替代图@2x {
background: url() -320rpx -0rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_找医院替代图@2x_outer {
height: 77rpx;
width: 80rpx;
overflow: hidden;
}
#gopng_找医院替代图@2x {
background: url() -400rpx -0rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_诊所就诊@2x_outer {
height: 48rpx;
width: 48rpx;
overflow: hidden;
}
#gopng_诊所就诊@2x {
background: url() -480rpx -0rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_确认预约@2x_outer {
height: 48rpx;
width: 48rpx;
overflow: hidden;
}
#gopng_确认预约@2x {
background: url() -528rpx -0rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_预约就诊@2x_outer {
height: 48rpx;
width: 48rpx;
overflow: hidden;
}
#gopng_预约就诊@2x {
background: url() -0rpx -80rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_下单支付@2x_outer {
height: 48rpx;
width: 48rpx;
overflow: hidden;
}
#gopng_下单支付@2x {
background: url() -48rpx -80rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_返回按钮@2x_outer {
height: 36rpx;
width: 36rpx;
overflow: hidden;
}
#gopng_返回按钮@2x {
background: url() -96rpx -80rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_v标志@2x_outer {
height: 34rpx;
width: 34rpx;
overflow: hidden;
}
#gopng_v标志@2x {
background: url() -132rpx -80rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_会员@2x_outer {
height: 32rpx;
width: 32rpx;
overflow: hidden;
}
#gopng_会员@2x {
background: url() -166rpx -80rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_提示@2x_outer {
height: 32rpx;
width: 32rpx;
overflow: hidden;
}
#gopng_提示@2x {
background: url() -198rpx -80rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_专场@2x_outer {
height: 32rpx;
width: 32rpx;
overflow: hidden;
}
#gopng_专场@2x {
background: url() -230rpx -80rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_认证@2x_outer {
height: 30rpx;
width: 60rpx;
overflow: hidden;
}
#gopng_认证@2x {
background: url() -262rpx -80rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_扩展@2x_outer {
height: 26rpx;
width: 26rpx;
overflow: hidden;
}
#gopng_扩展@2x {
background: url() -480rpx -48rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_没有更多@2x_outer {
height: 22rpx;
width: 22rpx;
overflow: hidden;
}
#gopng_没有更多@2x {
background: url() -576rpx -0rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_定位@2x_outer {
height: 22rpx;
width: 22rpx;
overflow: hidden;
}
#gopng_定位@2x {
background: url() -576rpx -22rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_箭头@2x_outer {
height: 7rpx;
width: 64rpx;
overflow: hidden;
}
#gopng_箭头@2x {
background: url() -506rpx -48rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_左边图标@2x_outer {
height: 6rpx;
width: 84rpx;
overflow: hidden;
}
#gopng_左边图标@2x {
background: url() -506rpx -55rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_右边图标@2x_outer {
height: 6rpx;
width: 84rpx;
overflow: hidden;
}
#gopng_右边图标@2x {
background: url() -506rpx -61rpx no-repeat;
width: 100%;
height: 100%;
}
#gopng_右边图标@2x_outer {
height: 6rpx;
width: 84rpx;
overflow: hidden;
}
#gopng_右边图标@2x {
background: url() -506rpx -67rpx no-repeat;
width: 100%;
height: 100%;
}
